.goal {
    /* margin-top: 20px; */
    background-image: url('../../assets/overview/pro_goals/frame.jpg');
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 40px;
    padding-bottom: 100px;
    box-sizing: border-box;
    position: relative;
}

.goal h2 {
    font-weight: bold;
    font-size: 90px;
    text-align: center;
    line-height: 64px;
    margin: 0px;
        font-family: GT-America-Compressed, "Riot Sans", sans-serif;
    font-style: italic;
    font-weight: 700;
}


.goals {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 50px;
    max-width: 1400px;
    margin: 30px auto;
    padding: 20px;
}

.goals>div {
    background: transparent;
    border-radius: 16px;
    padding: 0px 25px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.4s ease;
}

/* .goals > div:hover {
        transform: translateY(-15px);
        box-shadow: none;
        background: transparent;
    } */

.goals .img {
    /* width: 100%; */
    width: 400px;
    height: 524px;
   
   gap: 340px;
    margin-bottom: 10px;
    object-fit: cover;
    perspective: 00px;
}


.goals h3 {
    font-size: 1.5rem;
    /* margin-bottom:10px; */
    color: white;
    font-weight: 700;
    /* text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); */
    margin: 5px 0 9px 0;
        font-family: Spiegel, sans-serif;
    word-break: break-word;
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.goals-navigation{
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  width: 80%;
  overflow-x: auto;   /* لو عايز Scroll */
 
    flex-direction: row-reverse;
}
.goals-navigation hr{  flex: 1;                     /* يخلي الخط ياخد المساحة المتبقية */
  border: none;
  border-bottom: 1px solid #ccc;}
.goals p {
    font-size: 1rem;
    line-height: 1.8;
    color: white;
    font-weight: 400;
    /* text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); */
    margin-top: 0px;
    width: 120%;
}